<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="ID">
		INSERT
		INTO
		testTable(
		NAME,
		AGE
		)
		VALUES
		(
		#{name},
		#{age}
		)
	</insert>

	<update id="update">
		UPDATE testTable
		SET `name` = #{name},
		age = #{age}
	</update>

	<select id="select" resultMap="testMap">
		SELECT * FROM testTable
	</select>

	<resultMap type="cn.lswe.baseframe.bean.TestEntity" id="testMap">
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>
</mapper>